<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/dchengy/snowsim">Snow Simulation</a></strong>
      - For one of my projects in my physical simulations course, I worked on a material point method simulation with a partner
       to simulate snow.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ArjunTeh/ut-image-processing-project">Seam Carver</a></strong>
      - I created a seam carver in python using OpenCV. Another name would be "content aware resizing". The resizing starts to
      fall apart after scaling down past a certain point.
		</h5>
    </div>
  </div>
</div>
</section>
